
@{
    string MainSite = "https://kutumodeli.com/";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reseller Demo</title>
    <link rel="stylesheet" href="@(MainSite +"/Content/css/bootstrap.min.css")" />
    <link href="@(MainSite +"/Content/style.css")" rel="stylesheet" />
    <link href="@(MainSite +"/Content/models/marker.css")" rel="stylesheet" />

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script type="text/javascript" src="@(MainSite +"/Content/js/jquery.min.js")"></script>
    <script type="text/javascript" src="@(MainSite +"/Content/js/bootstrap.js")"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    @if (ViewBag.js != null)
    {
        <script type="text/javascript">

            function svgzoomevent() {
                var svg = d3.select("#Baskutu"),
                    width = +svg.attr("width"),
                    height = +svg.attr("height");

                var randomX = d3.randomNormal(width / 2, 80),
                    randomY = d3.randomNormal(height / 2, 80),
                    data = d3.range(2000).map(function () { return [randomX(), randomY()]; });

                var g = $("#SVGContainer").find(".ParetSvgContentMain");



                svg
                    .attr("fill", "none")
                    .attr("pointer-events", "all")
                    .attr("width", width)
                    .attr("height", height)
                    .call(d3.zoom()
                        .scaleExtent([0.1, 100])
                        .on("zoom", zoom));

                function zoom() {
                    g.attr("transform", d3.event.transform);
                }

            }

        </script>
        <script type="text/javascript" src="@(MainSite +"/Content/models/jspdf.min.js")"></script>
        <script type="text/javascript" src="@(MainSite +"/Content/models/jspdf.debug.js")"></script>
        <script type="text/javascript" src="@(MainSite +"/Content/js/formSerlaze.js")"></script>
        <script type="text/javascript" src="@(MainSite +"/Content/models/" + @ViewBag.js)"></script>
        <script type="text/javascript" src="@(MainSite +"/Content/models/boxmodely.min.js")"></script>
        <script type="text/javascript" src="@(MainSite +"/Content/models/Print.min.js")"></script>

    }
</body>
</html>
